php_value upload_max_filesize 20M
php_value post_max_size 20M
php_value memory_limit 1024M

RewriteEngine On
# Ensure the rewrite base is root for Herd/Valet
# RewriteBase /

# Block /old-site and any paths starting with it

# Force www prefix
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# 301 Redirects
RewriteRule ^seo-services-in-dubai/?$ /seo-services-company-in-dubai/ [R=301,L]

# Add trailing slash if missing (except for files and POST requests)
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ /$1/ [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]
